@keyframes overlay_open {
	0% {display: none; width: 48px; height: 48px;}
	100% {display: block; width: calc(50% - 548px); calc(100% - 112px);}
}

@keyframes overlay_close {
	0% {display: block; width: calc(50% - 548px); calc(100% - 112px);}
	100% {display: none; width: 48px; height: 48px;}
}

@keyframes overlay_button_open {
	0% {background-color: white; border-width: 1px;}
	100% {background-color: white; border-width: 1px;}
}

@keyframes overlay_button_close {
	0% {background-color: white; border-width: 1px;}
	100% {background-color: white; border-width: 1px;}
}

@keyframes img_open {
	0% {transform: rotate(360deg);}
	100% {transform: rotate(0deg);}
}

@keyframes img_close {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

#overlay {
	position: fixed;
	border-radius: 25px;
	border-color: #d9d9d9;
	display: none;
	width: calc(50% - 548px);
	height: calc(100% - 112px);
	animation-timing-function: ease-out;
	top: 88px;
	right: 24px;
	z-index: 51;
	border-width: 1px;
	border-style: solid;
	background-color: transparent;
}

#overlay_button {
	position: fixed;
	background-color: white;
	width: 50px;
	height: 50px;
	top: 88px;
	right: 24px;
	z-index: 52;
	border-radius: 50%;
	border-color: #d9d9d9;
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
}